<script>
  document.getElementById('cotizacionForm').addEventListener('submit', submitRequest);

  function submitRequest(event) {
    event.preventDefault();

    const form = document.getElementById('cotizacionForm');

    if (form.checkValidity()) {
      fetch('/guardar_cotizacion', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              fecha: document.getElementById('fecha').value,
              tipo: document.querySelector('select[name="tipo"]').value,
              formId: document.getElementById('id').value,
              descripcion: document.getElementById('descripcion').value,
              condiciones_pago: document.querySelector('select[name="condiciones_pago"]').value,
              garantia: document.getElementById('garantia').value,
              tiempo_entrega: document.getElementById('tiempo_entrega').value,
              monto_total: document.getElementById('monto_total').value,
              id_cliente: document.getElementById('id_cliente').value,
          }),
      })
      .then(response => response.json())
      .then(data => handleResponse(data))
      .catch(error => handleError(error));
    } else {
      // Si el formulario no es válido, muestra un mensaje en el elemento con id "message"
      document.getElementById('message').textContent = 'Por favor, completa todos los campos obligatorios.';
      document.getElementById('message').style.display = 'block';
    }
  }

  function handleResponse(data) {
    const messageElement = document.getElementById('message');

    if (data.success) {
      messageElement.textContent = '¡Formulario enviado correctamente!';
      messageElement.style.color = 'green';
      messageElement.style.display = 'block';

      clearForm();

      setTimeout(() => {
        messageElement.style.display = 'none';
      }, 5000);
    } else {
      messageElement.textContent = data.message || 'Ha ocurrido un error al enviar el formulario.';
      messageElement.style.color = 'red';
      messageElement.style.display = 'block';

      clearForm();

      setTimeout(() => {
        messageElement.style.display = 'none';
      }, 5000);
    }
  }

  function handleError(error) {
    const messageElement = document.getElementById('message');
    messageElement.textContent = `Error al enviar la solicitud. Detalles: ${error.message}`;
    messageElement.style.color = 'red';
    messageElement.style.display = 'block';

    clearForm();

    setTimeout(() => {
      messageElement.style.display = 'none';
    }, 5000);
  }

  function clearForm() {
    document.getElementById('fecha').value = '';
    document.querySelector('select[name="tipo"]').selectedIndex = 0;
    document.getElementById('id').value = '';
    document.getElementById('descripcion').value = '';
    document.querySelector('select[name="condiciones_pago"]').selectedIndex = 0;
    document.getElementById('garantia').selectedIndex = 0;
    document.getElementById('tiempo_entrega').value = '';
    document.getElementById('monto_total').value = '';
    document.getElementById('id_cliente').value = '';
  }
</script>